<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Ninja Search</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <div class="navbar-logo-icon">
          <img src="{{ url_for('static',filename='img/ninja.svg') }}">
        </div>
        <div class="navbar-logo-site-name">Ninja Search</div>
      </div>
      <div class="navbar-menu">
        <ul>
          <li>
            <a href="#">Champion</a>
          </li>
          <li>
            <a href="#">Stats</a>
          </li>
          <li>
            <a href="#">Leaderboards</a>
          </li>
          <li>
            <a href="#">My Stats</a>
          </li>
        </ul>
      </div>
      <div class="navbar-account-menu">
          <ul>
            <li>
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
      </div>
      <div class="navbar-hamburger">
          <img src="{{ url_for('static',filename='img/ham.svg') }}">
      </div>
    </div>

    <div class="search">
      <div class="search-image"></div>
      <div class="search-bar">
          <form method="post">
            <div class="search-bar-field">
              <input type="text" name="summoner">
              <div class="search-bar-field-region">
                <span class="region-abbreviations">NA</span>
              </div>
            </div>
            <input id="search-button" type="submit" value="Search">
          </form>
      </div>
    </div>

    <div class="search-result">
      <div class="summoner">
        <div class="summoner-playing">
          <span>Now Playing!</span>
        </div>
        <div class="summoner-icon">
          <img src="{{ url_for('static',filename='img/profileIcon2072.jpg') }}">
        </div>
        <div class="summoner-name">
          <span>Make Out Hill</span>
        </div>
        <div class="summoner-update-time">
          <span>Last updated: 3 hours ago</span>
        </div>
      </div>
      <div class="rank">
        <img src="{{ url_for('static',filename='img/Gold_Emblem.png') }}">
        <div class="rank-stats">
          <div class="rank-stats-resume">
            <span style="color:#D8A33A;">솔로 랭크</span><br/>
            <span style="color:#581410;">ADC 11 Games</span><br/>
            <span style="color:#107446;">Gold 1</span><br/>
            <span style="color:#2F2F2F;">1 LP / 6W 5L</span><br/>
            <span style="color:#A27430;">Win Ratio 55%</span>
          </div>
          <div class="rank-stats-chart">
              <span>40%</span>
          </div>
        </div>
      </div>
    </div>

    <!-- For test -->
    <div>
      {% if name %}
      <h1>Hello {{ name }}!</h1>
      {% else %}
        <h1>Hello, you can connect <a href="{{ url_for('login') }}"><u>here</u></a>!</h1>
      {% endif %}
      {% if session %}
        <a href="{{ url_for('search_summoner') }}">Search for a summoner</a> <br>
        <a href="{{ url_for('profile') }}">Go to profile</a> <br>
        <a href="{{ url_for('logout') }}">Logout from session</a> <br><br>
      {% endif %}
    </div>

    {% if summoner %}
      <div>
        <p>[ profil icon: {{ summoner['profileIconId'] }} ]</p>
        <p>{{ summoner['name'] }} (level {{ summoner['summonerLevel'] }})</p>
      </div>
    {% endif %}
    {% if matches %}
      {% for matche in matches %}
      <div>
        {% for k, v in matche.items() %}
        <p>
          <span>{{ k }}</span>: <span>{{ v }}</span>
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}
    <!-- End test -->

    <div class="copyright">
      <span>© 2019 Ninja Search. All Rights Reserved.</span>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
  </body>
</html>